<?xml version="1.0"?>
<!--
/**
  * MageProfis_ExtendedTaxvat
  *
  * @category  MageProfis
  * @package   MageProfis_ExtendedTaxvat
  * @author    Mathis Klooss <mathis@mage-profis.de>, Christopher Boehm <christopher@mage-profis.de>
  * @copyright 2015 Mage-Profis GmbH (http://www.mage-profis.de). All rights served.
  */
//-->
<config>
    <modules>
        <MageProfis_ExtendedTaxvat>
            <version>1.0.0.2</version>
        </MageProfis_ExtendedTaxvat>
    </modules>
    <global>
        <models>
            <extendedtaxvat>
                <class>MageProfis_ExtendedTaxvat_Model</class>
                <resourceModel>extendedtaxvat_resource</resourceModel>
            </extendedtaxvat>
            <extendedtaxvat_resource>
                <class>MageProfis_ExtendedTaxvat_Model_Resource</class>
                <entities>
                    <taxvat>
                        <table>extended_taxvat</table>
                    </taxvat>
                </entities>
            </extendedtaxvat_resource>
        </models>
        <helpers>
            <extendedtaxvat>
                <class>MageProfis_ExtendedTaxvat_Helper</class>
            </extendedtaxvat>
        </helpers>
        <events>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <extendedtaxvat>
                        <type>singleton</type>
                        <class>extendedtaxvat/observer</class>
                        <method>onSaveBilling</method>
                    </extendedtaxvat>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
            <controller_action_predispatch_checkout_onepage_saveShipping>
                <observers>
                    <extendedtaxvat>
                        <type>singleton</type>
                        <class>extendedtaxvat/observer</class>
                        <method>onSaveShipping</method>
                    </extendedtaxvat>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShipping>
            <customer_save_before>
                <observers>
                    <extendedtaxvat>
                        <class>extendedtaxvat/observer</class>
                        <method>onCustomerSaveBefore</method>
                    </extendedtaxvat>
                </observers>
            </customer_save_before>
            <customer_save_after>
                <observers>
                    <extendedtaxvat>
                        <class>extendedtaxvat/observer</class>
                        <method>onCustomerSaveAfter</method>
                    </extendedtaxvat>
                </observers>
            </customer_save_after>
            <customer_login>
                <observers>
                    <extendedtaxvat>
                        <class>extendedtaxvat/observer</class>
                        <method>onCustomerLogin</method>
                    </extendedtaxvat>
                </observers>
            </customer_login>
            <core_copy_fieldset_customer_account_to_quote>
                <observers>
                    <extendedtaxvat>
                        <class>extendedtaxvat/observer</class>
                        <method>copyFieldsetCustomerAccountToQuote</method>
                    </extendedtaxvat>
                </observers>
            </core_copy_fieldset_customer_account_to_quote>
        </events>
        <resources>
            <mageprofis_taxvat_setup>
                <setup>
                    <module>MageProfis_ExtendedTaxvat</module>
                    <class>MageProfis_ExtendedTaxvat_Model_Resource_Setup</class>
                </setup>
            </mageprofis_taxvat_setup>
        </resources>
        <template>
            <email>
                <taxvatvalidation_email_template translate="label" module="extendedtaxvat">
                    <label>Taxvat Validation E-Mail</label>
                    <file>extendedtaxvat.html</file>
                    <type>html</type>
                </taxvatvalidation_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <translate>
            <modules>
                <extendedtaxvat>
                    <files>
                        <default>MageProfis_ExtendedTaxVat.csv</default>
                    </files>
                </extendedtaxvat>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <extendedtaxvat>
                    <files>
                        <default>MageProfis_ExtendedTaxVat.csv</default>
                    </files>
                </extendedtaxvat>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <mageprofis_taxvat_tab>
            <general>
                <soap_api_url><![CDATA[http://ec.europa.eu/taxation_customs/vies/checkVatService.wsdl]]></soap_api_url>
                <active>0</active>
                <default_group>1</default_group>
                <viv_domestic_group>1</viv_domestic_group>
                <viv_intra_union_group>1</viv_intra_union_group>
                <viv_invalid_group>1</viv_invalid_group>
            </general>
            <failure>
                <timeout>0</timeout>
                <emptyfield>0</emptyfield>
            </failure>
            <email>
                <can_send_mail>1</can_send_mail>
                <receiver>general</receiver>
                <ignore_email_domestic>0</ignore_email_domestic>
                <template>taxvatvalidation_email_template</template>
            </email>
        </mageprofis_taxvat_tab>
    </default>
    <crontab>
        <jobs>
            <extendedtaxvat_removeoldentries>
                <schedule>
                    <cron_expr>0 5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>extendedtaxvat/cron::removeOldEntries</model>
                </run>
            </extendedtaxvat_removeoldentries>
        </jobs>
    </crontab>
</config>
